@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Nanum+Gothic&family=Open+Sans+Condensed&display=swap');

:root {
  --general-font: 'Nanum Gothic', sans-serif;
  --head-font: 'Manrope', sans-serif;
  --small-font: 'Open Sans Condensed', sans-serif;
  --navy: #141526;
  --purple: #2E3159;
  --grey: #F2F2F2;
  --light-green: #5ABF86;
  --dark-green: #378C64;
  --dark-dark-purple: #13152C;
}
body {
margin: 0;
background-color: var(--navy);
}
header {
  text-align: center;
  font-family: var(--head-font);
  background-color: var(--light-green);
  height: 175px;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  border-top: solid 4px var(--dark-green);
  border-left: solid 4px var(--dark-green);
  border-right: solid 4px var(--dark-green);
  text-align: center;
  font-size: 1.70em;
}

header h1   {
  font-size: 3em;
  margin: .3em auto;
}

.navBottom  {
  background: black;
  height: 2em;
  width: 100%;
}

.outter-container {
  padding: 4% 6% 0 6%;
}

.inner-container {
  display: flex;
  min-height: 600px;
}

nav {
  width: 20em;
  font-family: var(--head-font);
  background-color: var(--navy);
  border-left: solid 4px var(--dark-green);
}

nav ul {
  padding: 0;
  line-height: 5em;
}

nav li {
  list-style: none;
  color: var(--light-green);
  padding: 2px;
  text-align: center;
  transition: .2s ease-in-out;
  font-size: 1.3em;
}

nav li:hover  {
  color: white;
  cursor: pointer;
}

main {
  font-family: var(--general-font);
  background-color: var(--purple);
  color: var(--grey);
  width: 100%;
  border-right: solid 4px var(--dark-green);
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

main h1 {
  padding-left: 4%;
}

/* ===== HOME ====== */

.homePContain h2  {
  font-size: 2.3em;
}

.homePContain p {
  margin: 0;
  font-size: 1.5em;
  line-height: 2em;
}

.homePContain li {
  list-style: square;
  line-height: 3em;
  text-decoration: underline;
  font-size: 1.6em;
  transition: .3s ease-in-out;
  width: 10em;
}

.homePContain li:hover {
  color: lightblue;
  cursor: pointer;
}

.homePContain a {
  color: white;
  width: 10em;
}

/* ===== POSTS ====== */



.postContain  {
  border: 3px solid rgba(255,255,255, .3);
  background: var(--dark-dark-purple);
  width: 35em;
  padding: 1em;
  border-radius: 5px;
  margin: 2em 0;
  text-align: center;
  box-shadow: -2px 2px 5px black;
}

.postContain h2 {
  transition: .2s ease-in-out;
  font-size: 3em;
}

.postContain h3 {
  font-size: 2em;
}

.postContain h2:hover {
  color: var(--dark-green);
  cursor: pointer;
}

form {
  width: 100%;
}

.forms {
  border: solid 2px var(--light-green);
  margin: 3% 6% 0 3%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: var(--navy);
}

.formTitle {
  font-size: 2em;
}

.q1, .q2, .q3, .q4, .q5 {
  border: solid 2px var(--light-green);
  border-radius: 2px;
  padding: 6px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  background-color: var(--purple);
}

input[type=text] {
  background-color: var(--grey);
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
}

input[type=submit] {
  border: none;
  border-radius: 5px;
  width: 10%;
  height: 40%;
  text-transform: uppercase;
  font-size: 1.2em;
  transition: .3s ease-in-out;
}

input[type=submit]:hover {
  background: lightgreen;
  cursor: pointer;
}

#question1, #question2, #question3, #question4, #question5 {
  font-size: 24px;
}

.post-options {
  width: 35em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post-options h3 {
  list-style: none;
  color: var(--light-green);
  padding: 2px;
  transition: .2s ease-in-out;
  font-size: 2em;
  line-height: 1.4em;
  width: auto;
}
.post-options li:hover {
  color: white;
  cursor: pointer;
}

.post-options li {
  transition: .2s ease-in-out;
}

#post-update:hover  {
  cursor: pointer;
  color: gold;
}

#post-delete:hover  {
  cursor: pointer;
  color: red;
}

/* ==== SHOW QUIZ CSS ====*/

.showQuizContain  {
  text-align: center;
}

.showQuizNav  {
  background-color: var(--dark-dark-purple);
  padding: 2em;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
}

.showQuizContain  h2  {
  font-size: 2.5em;
  color: white;
  margin-top: 2em;
  border-radius: 5px;
}

.showQuizContain  h3  {
  font-size: 1.5em;
  color: white;
  border-radius: 5px;
}

.showQuizContain  h4  {
  font-size: 1.2em;
  padding: 1em;
  width: 20em;
  color: black;
  background: white;
  margin: 10px auto;
  border-radius: 5px;
  transition: .3s ease-in-out;
  box-shadow: -2px 2px 4px black;
}

#rightAnswer {
  font-size: 1.2em;
  padding: 1em;
  width: 20em;
  color: black;
  background: lightgreen;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: -2px 2px 4px black;
}

#wrongAnswer {
  font-size: 1.2em;
  padding: 1em;
  width: 20em;
  color: black;
  background: red;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: -2px 2px 4px black;
}


.showQuizContain  h4:hover  {
  background: lightblue;
  cursor: pointer;
}
