@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Nanum+Gothic&family=Open+Sans+Condensed&display=swap');

:root {
  --general-font: 'Nanum Gothic', sans-serif;
  --head-font: 'Manrope', sans-serif;
  --small-font: 'Open Sans Condensed', sans-serif;
  --navy: #141526;
  --purple: #2E3159;
  --grey: #F2F2F2;
  --light-green: #5ABF86;
  --dark-green: #378C64;
  --dark-dark-purple: #13152C;
}
body {
margin: 0;
background-color: var(--navy);
}
header {
  font-family: var(--head-font);
  background-color: var(--light-green);
  height: 175px;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  border-top: solid 4px var(--dark-green);
  border-left: solid 4px var(--dark-green);
  border-right: solid 4px var(--dark-green);
}
.outter-container {
  padding: 4% 6% 0 6%;
}
.inner-container {
  display: flex;
  min-height: 600px;
}
nav {
  width: 200px;
  font-family: var(--head-font);
  background-color: var(--navy);
  border-left: solid 4px var(--dark-green);
}
nav li {
  list-style: none;
  color: var(--light-green);
  padding: 2px;
  text-align: center;
  transition: .2s ease-in-out;
}

nav li:hover  {
  color: white;
  cursor: pointer;
}

main {
  font-family: var(--general-font);
  background-color: var(--purple);
  color: var(--grey);
  width: 100%;
  border-right: solid 4px var(--dark-green);
  padding: 1em;
}

/* ===== POSTS ====== */

.postContain h2 {
  text-decoration: underline;
  transition: .2s ease-in-out;
}

.postContain h2:hover {
  color: var(--dark-green);
  cursor: pointer;
}
.forms {
  border: solid 2px var(--light-green);
  margin: 3% 6% 0 3%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}
.formTitle {
  font-size: 2em;

}
.q1, .q2, .q3, .q4, .q5 {
  border: solid 2px var(--light-green);
  border-radius: 2px;
  padding: 10px;
  margin: 3px;
}

.post-options li {
  transition: .2s ease-in-out;
}

#post-update:hover  {
  cursor: pointer;
  color: lightgreen;
}

#post-delete:hover  {
  cursor: pointer;
  color: red;
}
